<settings>

	<!-- META DATA -->
	<metadata>
		<version>4.5.3</version>
	</metadata>

	<init>
		<startupFolder>c:\projects\onyx\binaries\onyx\video</startupFolder>
	</init>
	
	<!-- CORE SETTINGS FOR RENDERING -->
	<core>

		<render>
			<!-- the width / height of bitmaps -->
			<bitmapData>
				<width>320</width>
				<height>240</height>
			</bitmapData>
		</render>
		
		<!-- midi settings -->
		<midi>
			<enabled>true</enabled>
		</midi>
		
		<!-- custom ordering of blendmodes for blendmode controls -->
		<blendModes>
			<normal/>
			<lighten/>
			<darken/>
			<overlay/>
			<hardlight/>
			<multiply/>
			<screen/>
			<add/>
			<subtract/>
			<difference/>
			<invert/>
		</blendModes>
		
		<!-- razuna settings -->
		<razuna>
			<login>onyxvj</login>
			<pwd>null</pwd>
		</razuna>

		<!-- videopong settings -->
		<videopong>
			<login>null</login>
			<pwd>null</pwd>
			<domain>https://www.videopong.net</domain>
			<appkey>onyxwebvp</appkey>
		</videopong>
		
	</core>
	
	<!-- UI STATES -->
	<ui>
	
		<!-- LOCATION OF THE PREVIEW WINDOW -->
		<preview>
			<display>auto</display>
			<x>0</x>
			<y>0</y>
		</preview>
		
		<!-- COLOR SWATCH SETTINGS -->
		<swatch>
			<color>0x000000</color>
			<color>0x1c1c1c</color>
			<color>0x383838</color>
			<color>0x555555</color>
			<color>0x717171</color>
			<color>0x8d8d8d</color>
			<color>0xaaaaaa</color>
			<color>0xc6c6c6</color>
			<color>0xe2e2e2</color>
			<color>0xffffff</color>
		</swatch>
		
		<keys>
			<!-- BASE UI MACROS -->
			<key code="37">SELECTLAYERPREVIOUS</key>
			<key code="39">SELECTLAYERNEXT</key>
			<key code="49">SELECTLAYER0</key>
			<key code="50">SELECTLAYER1</key>
			<key code="51">SELECTLAYER2</key>
			<key code="52">SELECTLAYER3</key>
			<key code="53">SELECTLAYER4</key>
			<key code="81">SELECTPAGE0</key>
			<key code="87">SELECTPAGE1</key>
			<key code="69">SELECTPAGE2</key>
			<key code="38">SELECTFILTERUP</key>
			<key code="40">SELECTFILTERDOWN</key>
			
			<key code="90">MUTELAYER0</key>
			<key code="88">MUTELAYER1</key>
			<key code="67">MUTELAYER2</key>
			<key code="86">MUTELAYER3</key>
			<key code="66">MUTELAYER4</key>

			<key code="188">CYCLEBLENDUP</key>
			<key code="190">CYCLEBLENDDOWN</key>
			<key code="191">RESETLAYER</key>

			<!-- CUSTOM MACROS -->
			<key code="112">ECHO DISPLAY</key>
			<key code="113">SLOW DOWN LAYERS</key>
			<key code="114">SPEED UP LAYERS</key>
			<key code="115">BUFFER DISPLAY</key>
			<key code="116">RANDOM BLEND</key>
			<key code="117">RANDOM MOVESCALE</key>
			<key code="118">RANDOM 3DDISTORT</key>
			<key code="119">RANDOM 3DDISTORT2</key>
			<key code="120">RANDOM FRAMEMACRO</key>
			<key code="123">RESETALL</key>
			
			<!--
			<key code="122">FRAMERATE DECREASE</key>
			<key code="123">FRAMERATE INCREASE</key>
			-->
		</keys>
		<windows>
	      <state name="DEFAULT">
	        <window name="LOGO" x="3" y="2" enabled="true"/>
	        <window name="FILE BROWSER" x="3" y="619" enabled="true"/>
	        <window name="FILTERS" x="515" y="619" enabled="true"/>
	        <window name="LAYERS" x="3" y="275" enabled="true"/>
	        <window name="KEY MAPPING" x="612" y="319" enabled="false"/>
	        <window name="DISPLAY" x="3" y="84" enabled="true"/>
	        <window name="CONSOLE" x="259" y="2" enabled="true"/>
	        <window name="SETTINGS" x="259" y="153" enabled="true"/>
	        <window name="VIDEOPONG" x="200" y="2" enabled="false"/>
	        <window name="RECORDER" x="0" y="0" enabled="false"/>
	        <window name="PREVIEW" x="428" y="2" enabled="true"/>
	        <window name="RECORDER" x="0" y="0" enabled="false"/>
	        <window name="PERFORMANCE" x="297" y="657" enabled="true"/>
	      </state>
	    </windows>
	   	<!-- THE DIFFERENT INTERFACE STATES -->
		<states startup-state="DEFAULT">
			 <!-- SEQUENCE -->
			 <state>
			 	<name>SEQUENCE</name>
			 	<windows>
					<window x="6" y="318">FILE BROWSER</window>
			 		<window x="4" y="4">SEQUENCE</window>
					<window x="412" y="318">FILTERS</window>
			 	</windows>
			 </state>
		</states>
	</ui>
</settings>
