<settings>

	<!-- META DATA -->
	<metadata>
		<version>3.0.5</version>
	</metadata>

	<!-- CORE SETTINGS FOR RENDERING -->
	<core>
	
		<render>
			<!-- the width / height of bitmaps -->
			<bitmapData>
				<width>320</width>
				<height>240</height>
			</bitmapData>
			
			<!--
				the start-up quality of flash
				recommended: medium
				
				<quality>high</quality>
			-->
		</render>
		
		<!-- midi settings -->
		<midi>
			<enabled>false</enabled>
		</midi>
		
		<!-- custom ordering of blendmodes for blendmode controls -->
		<blendModes>
			<normal/>
			<lighten/>
			<darken/>
			<overlay/>
			<hardlight/>
			<multiply/>
			<screen/>
			<add/>
			<subtract/>
			<difference/>
			<invert/>
		</blendModes>
		
	</core>
	
	<!-- UI STATES -->
	<ui>
		
		<!-- FILTER ORDERING
		<filters>
			<order>
				<filter name="BLUR FILTER" index="0" />
			</order>
		</filters>
		 -->
		
		<!-- LOCATION OF THE PREVIEW WINDOW -->
		<preview>
			<display>auto</display>
			<x>0</x>
			<y>0</y>
		</preview>
		
		<!-- COLOR SWATCH SETTINGS -->
		<swatch>
			<color>0x000000</color>
			<color>0x1c1c1c</color>
			<color>0x383838</color>
			<color>0x555555</color>
			<color>0x717171</color>
			<color>0x8d8d8d</color>
			<color>0xaaaaaa</color>
			<color>0xc6c6c6</color>
			<color>0xe2e2e2</color>
			<color>0xffffff</color>
		</swatch>
		
		<!-- KEY MAPPING -->
		<keys>
			<SELECT_PAGE_0>81</SELECT_PAGE_0>
			<SELECT_PAGE_1>87</SELECT_PAGE_1>
			<SELECT_PAGE_2>69</SELECT_PAGE_2>
			<SELECT_FILTER_UP>38</SELECT_FILTER_UP>
			<SELECT_FILTER_DOWN>40</SELECT_FILTER_DOWN>
			<SELECT_LAYER_PREV>37</SELECT_LAYER_PREV>
			<SELECT_LAYER_NEXT>39</SELECT_LAYER_NEXT>
			<SELECT_PAGE_0>81</SELECT_PAGE_0>
			<SELECT_PAGE_1>87</SELECT_PAGE_1>
			<SELECT_PAGE_2>69</SELECT_PAGE_2>
			<SELECT_LAYER_0>49</SELECT_LAYER_0>
			<SELECT_LAYER_1>50</SELECT_LAYER_1>
			<SELECT_LAYER_2>51</SELECT_LAYER_2>
			<SELECT_LAYER_3>52</SELECT_LAYER_3>
			<SELECT_LAYER_4>53</SELECT_LAYER_4>
		</keys>
		
		<!-- THE DIFFERENT INTERFACE STATES -->
		<states startup-state="DEFAULT">
			 <!-- SEQUENCE -->
			 <state>
			 	<name>SEQUENCE</name>
			 	<windows>
					<window x="6" y="318">FILE BROWSER</window>
			 		<window x="4" y="4">SEQUENCE</window>
					<window x="412" y="318">FILTERS</window>
			 	</windows>
			 </state>
		</states>
	</ui>
</settings>